*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.user{
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.avatar{
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
}